{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.js",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 85,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "@/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "^(.*).css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}