.scroll-progress {
    position: fixed;
    height: 3px;
    top: 0;
    left: 0;
    background-color: #915eff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: scroll-progress linear;
    z-index: 10;
}

@keyframes scroll-progress {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
